<template>
  <b-container width="1140px" align="center" backgound-color="red">
    <div class="main-container">
      <component v-bind:is='currentPage' v-bind:vodId="currentWodId" v-bind:roundId="currentRoundId" v-bind:exerciseId="currentExerciseId" v-on:vodSelected="gotoRoundList"
                 v-on:roundSelected="gotoExerciseList" v-on:backBtnPressed="btnBackProcess" v-on:addExercise="addExercise" v-on:editExercise="editExercise"></component>
    </div>
  </b-container>
</template>
<script>
  import Dropdown from './components/dropdown.vue'
  import RoundList from './components/roundList.vue'
  import VodList from './components/vodList.vue'
  import ExercisesList from './components/exercisesList.vue'

  export default {
    name: 'app',
    data: () => ({
      currentPage: 'vodList',
      currentWodId: '',
      currentRoundId: '',
      currentExerciseId: ''
    }),
    components: {
      'dropdown': Dropdown,
      'roundList': RoundList,
      'vodList': VodList,
      'exercisesList': ExercisesList
    },
    methods: {
      viewSelection: function (selectedItem) {
        alert(selectedItem);
      },
      gotoRoundList: function (selectedId) {
        this.currentPage = 'roundList';
        this.currentWodId = selectedId;
      },
      gotoExerciseList: function(selectedId) {
        this.currentPage = 'exercisesList';
        this.currentRoundId = selectedId;
      },
      gotoAddExercise: function () {
        this.currentPage = 'dropdown';
        alert(this.currentExerciseId);
      },
      addExercise: function () {
        this.currentExerciseId = '';
        this.gotoAddExercise();
      },
      editExercise: function(exerciseId){
        this.currentExerciseId = exerciseId;
        this.gotoAddExercise();
      },
      btnBackProcess: function () {
        switch (this.currentPage) {
          case 'dropdown':
            this.currentPage = 'exercisesList';
            break;
          case 'roundList' :
            this.currentPage = 'vodList';
            break;
          case 'exercisesList':
            this.currentPage = 'roundList';
            break;
        }
      }
    }
  }

</script>

<style>
  .main-container {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
