<template>
  <b-row>
    <b-col sm="4"></b-col>
    <b-col sm="4" align-self="center">
      <div class="w-100">
        <h1>Select exercise</h1>
        <br>
        <b-button size="lg" variant="primary" @click="backBtnPressed">Go back</b-button>
        <br>
        <br>
        <b-col sm="12" >
          <b-dropdown variant="success" :text="selectedText" v-model="selectedItem" >
            <b-dropdown-item v-for="(root, index) in roots"
                             :key="root.id"
                             :value="root.exerciseName"
                             @click="setSelectedDp1Options(root)">

              {{root.exerciseName}}

            </b-dropdown-item>
          </b-dropdown>
        </b-col>
        <br>
        <div v-if="childRootslvl2.length > 0">
          <b-col sm="12">

            <b-dropdown variant="success" :text="selectedText2" v-model="selectedItem2" >

              <b-dropdown-item v-for="(childRootlvl2, index1) in childRootslvl2"
                               :key="childRootlvl2.id"
                               :value="childRootlvl2.exerciseName"
                               @click="setSelectedDp2Options(childRootlvl2)">

                {{childRootlvl2.exerciseName}}

              </b-dropdown-item>
            </b-dropdown>
          </b-col>
          <br>
        </div>

        <div v-if="childRootslvl3.length > 0">
          <b-col sm="12">
            <b-dropdown variant="success" :text="selectedText3" v-model="selectedItem3">
              <b-dropdown-item v-for="(childRootlvl3, index1) in childRootslvl3"
                               :key="childRootlvl3.id"
                               :value="childRootlvl3.exerciseName"
                               @click="setSelectedDp3Options(childRootlvl3)">

                {{childRootlvl3.exerciseName}}

              </b-dropdown-item>

            </b-dropdown>

          </b-col>
          <br>
        </div>

        <div v-if="settings.length > 0">
          <b-col sm="12">

            <b-dropdown variant="warning" :text="selectedText4" v-model="selectedItem4" no-flip>
              <b-dropdown-item v-for="(excerciseSetting, index3) in settings"
                               :key="excerciseSetting.id"
                               :value="excerciseSetting.value"
                               @click="setSelectedDp4Options(excerciseSetting)">
                {{excerciseSetting.value}} {{excerciseSetting.measure}}
              </b-dropdown-item>

            </b-dropdown>
          </b-col>
          <br>
        </div>

        <b-form-input type="number"
                      placeholder="Enter reps">

        </b-form-input>
        <br>
        <div v-if="readyToAdd">
          <b-button @click="addExcercise">Add exercise</b-button>
          <br>
        </div>


      </div>
    </b-col>
  </b-row>
</template>

<script>
  import axios from 'axios';

  var selection = {selectedItem3: ''}
  export default {
    name: 'Dropdown',
    data: () => ({
      roots: [],
      errors: [],
      selectedItem: '',
      selectedText: 'Choose element',
      selectedItem2: '',
      selectedItem3: '',
      childRootslvl2: [],
      selectedText2: 'Choose element',
      childRootslvl3: [],
      selectedText3: 'Choose element',
      childFinalSelection: 'хуй',
      selectedExcercise: null,
      selectedText4: 'Choose mass',
      selectedItem4: '',
      settings: [],
      readyToAdd: true,
      reps: '',
      exerciseFromResponse: ''
    }),
    props: ['roundId', 'exerciseId'],
    created() {
      this.getRoots();
      this.getExercise();

    }, methods: {
      getRoots: function () {
        axios.get('http://localhost:5000/api/GetValues')
          .then(response => {
            this.roots = response.data
            console.log('Starting Request', response.data)
          }).catch(e => {

          this.errors.push(e)
        })
      },

      setSelectedDp1Options(root) {
        this.selectedItem = root.id;
        this.selectedText = root.exerciseName;
        this.childRootslvl3 = [];
        this.childRootslvl2 = [];
        axios.get('http://localhost:5000/api/GetValues/' + root.id)
          .then(response => {
            this.childRootslvl2 = response.data;
            this.selectedText2 = 'Choose element';
            this.FinalSelecteditem = 'sdfsdf';
            console.log("childs data", response.data)
            if (response.data.length > 0) {
              document.getElementById("ch1").style.display = "block";
            }

          }).catch(e => {
          this.errors.push(e)
        })
      },
      setSelectedDp2Options(elem) {
        this.selectedItem2 = elem.id;
        this.selectedText2 = elem.exerciseName;

        axios.get('http://localhost:5000/api/GetValues/' + elem.id)
          .then(response => {
            this.childRootslvl3 = response.data;
            console.log("childs data2 OLOLO", response.data);
            axios.get('http://localhost:5000/api/GetValues/GetSettings/' + elem.id)
              .then(res => {
                this.settings = res.data;
                console.log("SETTINGS", res.data);

              }).catch(e => {
              this.errors.push(e)
            });
            this.selectedText3 = 'Choose element';
            if (response.data.length > 0) {
              document.getElementById("lastDp").style.display = "block";
              /*              this.selectedExcercise = elem;*/
            }
            else {
              this.selectedExcercise = elem;
            }

          }).catch(e => {
          this.errors.push(e)
        })

      },
      setSelectedDp3Options(elem) {
        this.selectedItem3 = elem.id;
        this.selectedText3 = elem.exerciseName;
        this.selectedExcercise = elem;
      },
      itemSelected: function () {
        this.$emit('itemSelected', this.childFinalSelection);
      },
      setSelectedDp4Options(elem) {
        this.selectedItem4 = elem.id;
        this.selectedText4 = elem.value + '.' + elem.measure;
      },
      backBtnPressed: function () {
        this.$emit('backBtnPressed');
      },
      checkIsReadyToAdd: function () {

      },
      addExcercise: function () {
        axios.post('http://localhost:5000/api/GetValues/InsertNewExerciseWithRoundIdAsync/' + this.roundId, {})
          .then(response => {
            this.exerciseFromResponse = response.data;

          }).catch(e => {
          this.errors.push(e)
        })
      },
      getExercise: function () {
        axios.get('http://localhost:5000/api/GetValues/GetExerciseById/' + this.exerciseId)
          .then(response => {
          this.exerciseFromResponse = response.data;
          console.log('GetExercise', response.data);

        }).catch(e => {
          this.errors.push(e)
        })
      }
    }
  }

</script>

<style>
</style>
