<template>


  <b-col sm="12">
    <br>
    <b-button size="lg" variant="primary" @click="backBtnPressed">Go back</b-button>
    <br>
    <br>
    <b-list-group>
      <b-list-group-item v-for="(exercise, index) in exercises"
                         :key="exercise.id">
        <b-row>
          <b-col sm="12">{{exercise.exerciseName}}</b-col>
        </b-row>
        <b-button @click="editExercise(exercise.id)">Edit</b-button>
      </b-list-group-item>
    </b-list-group>
  </b-col>
</template>
<script>
  import axios from 'axios'

  export default {
    name: "exercisesList",
    props: ['roundId'],
    data: () => ({
      exercises: [],
      errors: []
    }),
    methods: {
      getExercises: function () {
        axios.get('http://localhost:5000/api/GetValues/GetAllExercisesByRoundId/' + this.roundId)
          .then(response => {
            this.exercises = response.data;
            console.log('Starting Request', response.data)
          }).catch(e => {

          this.errors.push(e)
        })
      },
      backBtnPressed: function () {
        this.$emit('backBtnPressed');
      },
      editExercise: function (exerciseId) {
        this.$emit('editExercise', exerciseId);
      },
      addExercise: function() {
        this.$emit('addExercise')
      }
    },
    created() {
      this.getExercises();
    }
  }
</script>

<style scoped>

</style>
