<template>
    <div>
      <b-col sm="12">
        <br>
        <b-button size="lg" variant ="primary" @click="backBtnPressed">Go back</b-button>
        <br>
        <br>
        <b-list-group>
          <div v-if="rounds.length > 0">
          <b-list-group-item v-for="(round, index) in rounds" button
                             :key="round.id"
                             @click="roundSelected(round)">
            <round-list-item v-bind:round="round"></round-list-item>
          </b-list-group-item>
          </div>
          <div v-else>
            ничего нет тут.
            пока
          </div>
          <button @click="addRound">Add new round</button>
        </b-list-group>
      </b-col>
    </div>
</template>

<script>
  import RoundListItem from './roundListItem'
  import axios from 'axios'
    export default {
      name: "roundList",
      data: () => ({
        rounds: [],
        errors: []
      }),
      components: {
        roundListItem : RoundListItem
      },
      props: ['vodId'],
      created() {
        this.getRounds()
    },
      methods: {
        addRound: function(){
          axios.post('http://localhost:5000/api/Round/CreateNewRound/' + this.vodId, {})
            .then(response => {
              this.getRounds();
            })
            .catch(e => {

              this.errors.push(e)
            });

        },
        getRounds: function(){
          axios.get('http://localhost:5000/api/Round/GetRoundsByWodId/' + this.vodId)
            .then(response => {
              this.rounds = response.data;
              console.log('Starting Request', response.data)
            }).catch(e => {

            this.errors.push(e)
          })
        },
        roundSelected: function(round) {
          this.$emit('roundSelected', round.id)
        },
        backBtnPressed: function () {
          this.$emit('backBtnPressed');
        }
      }
  }
</script>

<style scoped>

</style>
