<template>
  <b-container>
    <div v-if="round.exercise.length > 0">
    <b-row v-for="(exercise, index) in round.exercise">
      <b-col>
        {{exercise.exerciseName}}
      </b-col>
    </b-row>
    </div>
  </b-container>
</template>

<script>
    export default {
        name: "roundListItem",
        props: ['round']
    }
</script>

<style scoped>

</style>
