<template>
  <div>

    <b-list-group>

      <b-list-group-item v-for="(vod, index) in vods">

        <b-card title="Wod"
                tag="article"
                class="mb-2"
        >
          <p class="card-text">
            Wod Date : {{vod.createdDate}}
            <br>
            Extected Time : {{vod.ExpectedTime}}
            <br>
            Result time : {{vod.ResultTime}}
          </p>
          <!--<b-row>
            <b-col sm="6" text-align="right">Wod Date :</b-col>
            <b-col sm="4">{{vod.createdDate}}</b-col>
          </b-row>
          <p class="card-text">
            Wod Date : {{vod.createdDate}}
          </p>-->
          <b-button :key="vod.id" variant="success" size="lg"
                    @click="vodSelected(vod)">Edit
          </b-button>
        </b-card>
      </b-list-group-item>
    </b-list-group>
    <br>
    <b-button size="lg" variant="primary" @click="addWod">Add new Wod</b-button>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: "vodList",
    data: () => ({
      vods: [],
      errors: []
    }),
    methods: {
      vodSelected: function (vod) {
        this.$emit('vodSelected', vod.id);
      },
      addWod: function () {
        axios.post('http://localhost:5000/api/Wod/CreateNewWod', {})
          .then(response => {
            axios.get('http://localhost:5000/api/Wod/GetAllWods')
              .then(response1 => {
                this.vods = response1.data;
                console.log('Starting Request123', response1.data)
              }).catch(e => {

              this.errors.push(e)
            })
          })
          .catch(e => {

            this.errors.push(e)
          })

      }
    },
    created() {
      axios.get('http://localhost:5000/api/Wod/GetAllWods')
        .then(response => {
          this.vods = response.data;
          console.log('Starting Request', response.data)
        }).catch(e => {

        this.errors.push(e)
      })
    }
  }
</script>

<style scoped>

</style>
